

.footer {
    background-color: var(--color-bgGreen);
    width: 100%;
    padding: 7rem 5rem 2rem 5rem;
}

.footer_footerWrapper {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    
}


.footer_footerWrapper_cols
{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    margin: 2rem;
    color: var(--color-white);

}

.footer_footerWrapper_cols_info> p{
    color: white;
    font-size: 1.1rem;
}

.footer_footerWrapper_cols_head > p {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.footer_footerWrapper_cols_logo{
    width: 20rem;
}
.footer_footerWrapper_cols_logo img {
    width: 100%;
}


.footer_footerWrapper_cols_items  li {
    list-style: none;
    margin: 1rem 0 ;
    transition: 0.3s ease;
}
.footer_footerWrapper_cols_items  li:hover{
    color: var(--color-beige);
    text-decoration: underline;
}

.footer-link:hover {
    color: var(--color-beige);
}

.footer_footerWrapper_cols_items_itemBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5rem 0;
}

.footer_copyRight{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    color: var(--color-white);
    font-size: 1rem;
}

.zonzo-text {
    color: var(--color-beige);
    text-decoration: underline;
}

@media screen and (max-width: 570px){
    .footer{
        padding: 4rem 1rem 2rem 1rem;
    }
    .footer_footerWrapper_cols_info > p {
        text-align: center;
    }
    .small_screen{
        display: none;
    }
}